<!DOCTYPE html>
<html>

<head>
    <title>Food Ingredient & Recipe Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">

        <h1>🍎 Food Ingredient Prediction</h1>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="image" required>
            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
        <div class="result">
            <img src="{{ image_path }}" class="uploaded-img">
            <h2>Prediction: {{ prediction }}</h2>
            <p>Confidence: {{ (confidence * 100) | round(2) }}%</p>
        </div>
        {% endif %}

    {% if recipes %}
    <h2>🍽️ Recommended Recipes</h2>
    
    <div class="recipe-container">
        {% for r in recipes %}
        <div class="recipe-card">
    
<img src="{{ r.image if r.image else url_for('static', filename='images/no_images.jpg') }}"
 alt="Recipe Image"onerror="this.src='{{ url_for('static', filename='images/no_images.jpg') }}'">
    
            <h3>{{ r.name }}</h3>
    
            <!-- Basic view -->
            <p class="ingredients-short">
                <b>Ingredients:</b>
                {{ r.ingredients_simple | join(", ") }}
            </p>
    
            <button class="toggle-btn" onclick="toggleDetails(this)">
                Show More
            </button>
    
            <!-- Hidden detailed view -->
            <div class="recipe-details">
                <h4>Ingredients (with quantity)</h4>
                <ul>
                    {% for ing in r.ingredients_full %}
                    <li>{{ ing }}</li>
                    {% endfor %}
                </ul>
    
                <h4>Instructions</h4>
                <ol>
                    {% for step in r.instructions %}
                    <li>{{ step }}</li>
                    {% endfor %}
                </ol>
    
                <p><b>Calories:</b> {{ r.calories }}</p>
            </div>
    
        </div>
        {% endfor %}
    </div>
    {% endif %}


    </div>
    <script>
        function toggleDetails(button) {
            const details = button.nextElementSibling;
            if (details.style.display === "block") {
                details.style.display = "none";
                button.innerText = "Show More";
            } else {
                details.style.display = "block";
                button.innerText = "Show Less";
            }
        }
    </script>

</body>

</html>